.magnifier {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  border: 1px solid lightblue;
  background-color: white;
  background-repeat: no-repeat;
  display: none;
  border-radius: 100%;
  animation: appearslowly 400ms ease-out;
  transition: all 400ms;
}
