.menu-bar-social {
  font-size: 2.5em;
  color: $color6;
  transform: scale(1);
  transition: all 500ms;

  :hover {
    transition: all 300ms;
    color: $color7;
    transition: all 500ms;
    transform: scale(1.1);
  }
}
